PRE.source {
	FONT-WEIGHT: normal! important; COLOR: #000! important; FONT-STYLE: normal! important
}
PRE.source  {
	FONT-WEIGHT: normal! important; COLOR: #000! important; FONT-STYLE: normal! important
}
PRE.source .co1 {
	COLOR: #008000! important
}
PRE.source .co2 {
	COLOR: #008000! important
}
PRE.source .coMULTI {
	COLOR: #008000! important
}
PRE.source .nu0 {
	COLOR: #a00! important
}
PRE.source .st0 {
	COLOR: #909! important
}
.source-vb .kw1 {
	COLOR: #006! important
}
PRE.source-csharp .co2 {
	COLOR: #069! important
}
PRE.source-csharp .kw1 {
	COLOR: #009! important
}
PRE.source-csharp .kw2 {
	COLOR: #069! important
}
PRE.source-csharp .kw3 {
	COLOR: #009! important
}
PRE.source-csharp .kw4 {
	COLOR: #009! important
}
PRE.source-java .kw1 {
	COLOR: #009! important
}
PRE.source-java .kw2 {
	COLOR: #009! important
}
PRE.source-pascal .kw1 {
	FONT-WEIGHT: bold! important; COLOR: #009! important
}
PRE.source-pascal .kw2 {
	FONT-WEIGHT: bold! important; COLOR: #009! important
}
PRE.source-pascal .kw3 {
	FONT-WEIGHT: bold! important; COLOR: #009! important
}
PRE.source-pascal .kw4 {
	FONT-WEIGHT: bold! important; COLOR: #009! important
}
PRE.source-c .co2 {
	COLOR: #069! important
}
PRE.source-c .kw1 {
	COLOR: #009! important
}
PRE.source-c .kw2 {
	COLOR: #009! important
}
PRE.source-c .kw3 {
	COLOR: #009! important
}
PRE.source-c .kw4 {
	COLOR: #009! important
}
PRE.source-c .co2 {
	COLOR: #069! important
}
PRE.source-c .st0 {
	COLOR: #909! important
}
PRE.source-c .st1 {
	COLOR: #a00! important
}
PRE.source-c .kw1 {
	COLOR: #009! important
}
PRE.source-c .kw2 {
	COLOR: #009! important
}
PRE.source-c .kw3 {
	COLOR: #009! important
}
PRE.source-c .kw4 {
	COLOR: #009! important
}
PRE.source-c .kw5 {
	COLOR: #009! important
}
PRE.source-c .kw6 {
	COLOR: #009! important
}
PRE.source-c .kw7 {
	COLOR: #069! important
}
PRE.source-c .kw8 {
	COLOR: #069! important
}
PRE.source-c .kw9 {
	COLOR: #069! important
}
PRE.source-c .kw10 {
	COLOR: #069! important
}
PRE.source-c .kw11 {
	COLOR: #069! important
}
PRE.source-c .kw12 {
	COLOR: #069! important
}
PRE.source-c .kw13 {
	COLOR: #069! important
}
PRE.source-c .kw14 {
	COLOR: #069! important
}
PRE.source-c .kw15 {
	COLOR: #069! important
}
PRE.source-c .kw16 {
	COLOR: #a00! important
}
PRE.source-c .kw17 {
	COLOR: #909! important
}
PRE.source-c .kw18 {
	COLOR: #069! important
}
PRE.source-c .kw19 {
	COLOR: #069! important
}
PRE.source-c .kw20 {
	COLOR: #a00! important
}
PRE.source-c .kw21 {
	COLOR: #069! important
}
PRE.source-c .kw22 {
	COLOR: #069! important
}
PRE.source-c .kw23 {
	COLOR: #069! important
}
PRE.source-c .kw24 {
	COLOR: #069! important
}
PRE.source-c .kw25 {
	FONT-WEIGHT: bold! important; COLOR: #069! important
}
PRE.source-c .kw26 {
	COLOR: #069! important
}
PRE.source-c .kw27 {
	COLOR: #069! important
}
PRE.source-c .kw28 {
	COLOR: #069! important
}
PRE.source-c .kw29 {
	COLOR: #069! important
}
PRE.source-c .kw30 {
	COLOR: #069! important
}
PRE.source-Scheme .kw1 {
	COLOR: #009! important
}
PRE.source-scheme .kw1 {
	COLOR: #009! important
}
.source-cpp .me1 {
	COLOR: #499
}
.source-cpp .me2 {
	COLOR: #499
}
